{% extends "base.html" %}

{% block title %}IELTS Writing AI Analyzer{% endblock %}

{% block content %}
<section class="bg-\[\#F4F7FF\] pt-5px dark:bg-dark-2 mb-[30px]">
  <div class="container px-0 pt-20 lg:pt-[90px]">
    <form method="post" action="{% url 'analyze' %}" novalidate>
      {% csrf_token %}
      <button type="submit" class="mt-2 inline-flex items-center justify-center rounded-md bg-primary px-10 py-3 text-base font-medium text-white transition duration-300 ease-in-out hover:bg-blue-dark">
        Analyze IELTS Essay
      </button>
      <div class="mt-2 mb-1">
        <label for="topic" class="mb-1 block text-lg font-semibold text-dark dark:text-white">Topic</label>
        {{ form.topic }}
        {{ form.topic.errors }}
      </div>
      <div class="mb-2">
        <label for="essay" class="mb-1 block text-lg font-semibold text-dark dark:text-white">Essay <span id="word-count" class="text-dark-6 text-sm">(Word Count: 0)</span></label>
        {{ form.essay }}
        {{ form.essay.errors }}
      </div>
      {{ form.word_count }}
    </form>
  </div>
</section>
{% endblock %}
{% block js %}
<script>
  let topicTA = $('#topic-textarea');
  let essayTA = $('#essay-textarea');
  const wordCountDisplay = $('#word-count');
  const wordCountField = $('#word-count-input');

  $(document).ready(function() {
    function adjustTopicTextareaHeight() {
      // Reset height to auto to get the scrollHeight correctly
      topicTA.css('height', 'auto');
      // Set the height to the scrollHeight
      topicTA.css('height', topicTA[0].scrollHeight + 'px');;
    }
    function adjustEssayTextareaHeight() {
      // Reset height to auto to get the scrollHeight correctly
      essayTA.css('height', 'auto');
      // Set the height to the scrollHeight
      essayTA.css('height', essayTA[0].scrollHeight + 'px');
    }
    function updateWordCount() {
      const text = essayTA.val();
      // Remove punctuation and multiple spaces, split by space to get words
      const cleanedText = text.replace(/[^\w\s]|_/g, '').replace(/\s+/g, ' ').trim();
      const wordCount = cleanedText.split(/\s+/).filter(Boolean).length;
      wordCountDisplay.text('(Word Count: ' + wordCount + ')');
      wordCountField.val(wordCount);
    }
    // Attach the adjust function to input and change events
    topicTA.on('input', adjustTopicTextareaHeight);
    essayTA.on('input', adjustEssayTextareaHeight);
    essayTA.on('input', updateWordCount);

    function clearEvents() {
        topicTA.off('input', adjustTopicTextareaHeight);
        essayTA.off('input', adjustEssayTextareaHeight);
        essayTA.off('input', updateWordCount);
    }
    $(window).on('beforeunload', clearEvents);

    // Initial adjustment
    adjustTopicTextareaHeight();
    adjustEssayTextareaHeight();
});
</script>
{% endblock %}
