{% extends "base.html" %}

{% block title %}IELTS writing AI checker{% endblock %}

{% block content %}
<section id="home" class="relative z-20 overflow-hidden bg-white pt-20 dark:bg-dark lg:pt-[90px]">
  <div class="container mx-auto">
    <div class="-mx-4 flex">
      <div class="w-20p relative z-10 flex justify-center items-center bg-primary text-8r font-extrabold text-white text-center sm:p-5">
        <span>6</span>
        <div>
          <span class="absolute left-0 top-0 -z-10">
            <svg width="106" height="144" viewBox="0 0 106 144" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect opacity="0.1" x="-67" y="47.127" width="113.378" height="131.304" transform="rotate(-42.8643 -67 47.127)" fill="url(#paint0_linear_1416_214)"></rect>
              <defs>
                <linearGradient id="paint0_linear_1416_214" x1="-10.3111" y1="47.127" x2="-10.3111" y2="178.431" gradientUnits="userSpaceOnUse">
                  <stop stop-color="white"></stop>
                  <stop offset="1" stop-color="white" stop-opacity="0"></stop>
                </linearGradient>
              </defs>
            </svg>
          </span>
        </div>
      </div>
      <div class="w-20p relative z-10 items-center bg-primary px-6 py-12 sm:p-5">
        <div>
          <div class="flex justify-between mb-6">
            <span class="text-5xl font-extrabold text-white">
              6
            </span>
            <span class="text-right text-white max-width-120 ">Task Achievement</span>
          </div>
          <div class="text-sm font-semibold text-white text-opacity-70">
            There is a slight repetition in the second paragraph about trying new things.
          </div>
        </div>
        <div>
          <span class="absolute left-0 top-0 -z-10">
            <svg width="106" height="144" viewBox="0 0 106 144" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect opacity="0.1" x="-67" y="47.127" width="113.378" height="131.304" transform="rotate(-42.8643 -67 47.127)" fill="url(#paint0_linear_1416_214)"></rect>
              <defs>
                <linearGradient id="paint0_linear_1416_214" x1="-10.3111" y1="47.127" x2="-10.3111" y2="178.431" gradientUnits="userSpaceOnUse">
                  <stop stop-color="white"></stop>
                  <stop offset="1" stop-color="white" stop-opacity="0"></stop>
                </linearGradient>
              </defs>
            </svg>
          </span>
        </div>
      </div>
      <div class="w-20p relative z-10 items-center bg-primary px-6 py-12 sm:p-5">
        <div>
          <div class="flex justify-between mb-6">
            <span class="text-5xl font-extrabold text-white">
              7
            </span>
            <span class="text-right text-white max-width-120 ">Coherence and Cohesion</span>
          </div>
          <div class="text-sm font-semibold text-white text-opacity-70">
            There are a few areas where cohesion could be improved. Use more nuanced transition phrases.
          </div>
        </div>
        <div>
          <span class="absolute left-0 top-0 -z-10">
            <svg width="106" height="144" viewBox="0 0 106 144" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect opacity="0.1" x="-67" y="47.127" width="113.378" height="131.304" transform="rotate(-42.8643 -67 47.127)" fill="url(#paint0_linear_1416_214)"></rect>
              <defs>
                <linearGradient id="paint0_linear_1416_214" x1="-10.3111" y1="47.127" x2="-10.3111" y2="178.431" gradientUnits="userSpaceOnUse">
                  <stop stop-color="white"></stop>
                  <stop offset="1" stop-color="white" stop-opacity="0"></stop>
                </linearGradient>
              </defs>
            </svg>
          </span>
        </div>
      </div>
      <div class="w-20p relative z-10 items-center bg-primary px-6 py-12 sm:p-5">
        <div>
          <div class="flex justify-between mb-6">
            <span class="text-5xl font-extrabold text-white">
              6.5
            </span>
            <span class="text-right text-white max-width-120 ">Lexical Resource</span>
          </div>
          <div class="text-sm font-semibold text-white text-opacity-70">
            Some phrases and word forms are a bit inaccurate.
          </div>
        </div>
        <div>
          <span class="absolute left-0 top-0 -z-10">
            <svg width="106" height="144" viewBox="0 0 106 144" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect opacity="0.1" x="-67" y="47.127" width="113.378" height="131.304" transform="rotate(-42.8643 -67 47.127)" fill="url(#paint0_linear_1416_214)"></rect>
              <defs>
                <linearGradient id="paint0_linear_1416_214" x1="-10.3111" y1="47.127" x2="-10.3111" y2="178.431" gradientUnits="userSpaceOnUse">
                  <stop stop-color="white"></stop>
                  <stop offset="1" stop-color="white" stop-opacity="0"></stop>
                </linearGradient>
              </defs>
            </svg>
          </span>
        </div>
      </div>
      <div class="w-20p relative z-10 items-center bg-primary px-6 py-12 sm:p-5">
        <div>
          <div class="flex justify-between">
            <span class="text-5xl font-extrabold text-white">
              5.5
            </span>
            <span class="text-right text-white max-width-120 ">Grammatical Range and Accuracy</span>
          </div>
          <div class="text-sm font-semibold text-white text-opacity-70">
            There are some punctuation errors and grammatical errors in your work.
          </div>
        </div>
        <div>
          <span class="absolute left-0 top-0 -z-10">
            <svg width="106" height="144" viewBox="0 0 106 144" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect opacity="0.1" x="-67" y="47.127" width="113.378" height="131.304" transform="rotate(-42.8643 -67 47.127)" fill="url(#paint0_linear_1416_214)"></rect>
              <defs>
                <linearGradient id="paint0_linear_1416_214" x1="-10.3111" y1="47.127" x2="-10.3111" y2="178.431" gradientUnits="userSpaceOnUse">
                  <stop stop-color="white"></stop>
                  <stop offset="1" stop-color="white" stop-opacity="0"></stop>
                </linearGradient>
              </defs>
            </svg>
          </span>
          <span class="absolute bottom-0 right-0 -z-10">
            <svg width="175" height="104" viewBox="0 0 175 104" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect opacity="0.1" x="175.011" y="108.611" width="101.246" height="148.179" transform="rotate(137.136 175.011 108.611)" fill="url(#paint0_linear_1416_216)"></rect>
              <defs>
                <linearGradient id="paint0_linear_1416_216" x1="225.634" y1="108.611" x2="225.634" y2="256.79" gradientUnits="userSpaceOnUse">
                  <stop stop-color="white"></stop>
                  <stop offset="1" stop-color="white" stop-opacity="0"></stop>
                </linearGradient>
              </defs>
            </svg>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="check" class="bg-gray-1 pt-5px dark:bg-dark-2">
  <div class="container px-0 flex">
    <div class="w-50p">
      <form>
        <div class="mb-1">
          <label for="Topic" class="mb-1 block text-lg font-semibold text-dark dark:text-white">Topic</label>
          <textarea name="Topic" class="w-full border border-primary rounded-md  bg-transparent pb-3 text-body-color placeholder:text-body-color/60 focus:border-primary focus:outline-none dark:border-dark-3 dark:text-dark-6"></textarea>
        </div>
        <div class="mb-2">
          <label for="Essay" class="mb-1 block text-lg font-semibold text-dark dark:text-white">Essay</label>
          <textarea name="Essay" rows="14" class="w-full border border-primary rounded-md  bg-transparent pb-3 text-body-color placeholder:text-body-color/60 focus:border-primary focus:outline-none dark:border-dark-3 dark:text-dark-6"></textarea>
        </div>
        <div class="flex justify-between">
          <button type="submit" class="inline-flex items-center justify-center rounded-md bg-primary px-10 py-3 text-base font-medium text-white transition duration-300 ease-in-out hover:bg-blue-dark">
            Check
          </button>
          <span class="text-dark-3 text-sm">Word Count: 0</span>
        </div>
      </form>
    </div>
    <div class="w-50p pl-10px pt-10px" style="height: calc(100vh - 400px);overflow-y: auto;">
      <div class="group mb-2 p-3 rounded-xl bg-white shadow-testimonial dark:bg-dark dark:shadow-none text-sm text-body-color dark:text-dark-6">
        <b>try to discover various destinations</b>
        <p>'Try to discover' is a bit awkward in this context. Try 'are exploring' for smoother communication. Ex: 'more and more people are exploring various destinations'</p>
      </div>
      <div class="group mb-2 p-3 rounded-xl bg-white shadow-testimonial dark:bg-dark dark:shadow-none text-sm text-body-color dark:text-dark-6">
        <b>try to discover various destinations</b>
        <p>'Try to discover' is a bit awkward in this context. Try 'are exploring' for smoother communication. Ex: 'more and more people are exploring various destinations'</p>
      </div>
      <div class="group mb-2 p-3 rounded-xl bg-white shadow-testimonial dark:bg-dark dark:shadow-none text-sm text-body-color dark:text-dark-6">
        <b>try to discover various destinations</b>
        <p>'Try to discover' is a bit awkward in this context. Try 'are exploring' for smoother communication. Ex: 'more and more people are exploring various destinations'</p>
      </div>
      <div class="group mb-2 p-3 rounded-xl bg-white shadow-testimonial dark:bg-dark dark:shadow-none text-sm text-body-color dark:text-dark-6">
        <b>try to discover various destinations</b>
        <p>'Try to discover' is a bit awkward in this context. Try 'are exploring' for smoother communication. Ex: 'more and more people are exploring various destinations'</p>
      </div>
      <div class="group mb-2 p-3 rounded-xl bg-white shadow-testimonial dark:bg-dark dark:shadow-none text-sm text-body-color dark:text-dark-6">
        <b>try to discover various destinations</b>
        <p>'Try to discover' is a bit awkward in this context. Try 'are exploring' for smoother communication. Ex: 'more and more people are exploring various destinations'</p>
      </div>
      <div class="group mb-2 p-3 rounded-xl bg-white shadow-testimonial dark:bg-dark dark:shadow-none text-sm text-body-color dark:text-dark-6">
        <b>try to discover various destinations</b>
        <p>'Try to discover' is a bit awkward in this context. Try 'are exploring' for smoother communication. Ex: 'more and more people are exploring various destinations'</p>
      </div>
      <div class="group mb-2 p-3 rounded-xl bg-white shadow-testimonial dark:bg-dark dark:shadow-none text-sm text-body-color dark:text-dark-6">
        <b>try to discover various destinations</b>
        <p>'Try to discover' is a bit awkward in this context. Try 'are exploring' for smoother communication. Ex: 'more and more people are exploring various destinations'</p>
      </div>
      <div class="group mb-2 p-3 rounded-xl bg-white shadow-testimonial dark:bg-dark dark:shadow-none text-sm text-body-color dark:text-dark-6">
        <b>try to discover various destinations</b>
        <p>'Try to discover' is a bit awkward in this context. Try 'are exploring' for smoother communication. Ex: 'more and more people are exploring various destinations'</p>
      </div>
      <div class="group mb-2 p-3 rounded-xl bg-white shadow-testimonial dark:bg-dark dark:shadow-none text-sm text-body-color dark:text-dark-6">
        <b>try to discover various destinations</b>
        <p>'Try to discover' is a bit awkward in this context. Try 'are exploring' for smoother communication. Ex: 'more and more people are exploring various destinations'</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
