{% extends "base.html" %}

{% block title %}IELTS Writing AI Analyzer{% endblock %}
{% block content %}
<section id="score" class="bg-gray-1 relative z-20 overflow-hidden pt-20 dark:bg-dark lg:pt-[90px]">
  <div class="container mx-auto">
    <div class="-mx-4 flex">
      <div class="w-20p relative z-10 flex justify-center items-center bg-primary bg-opacity-70 text-8r font-extrabold text-white text-center sm:p-5">
        <span>{{result.overall.total}}</span>
        <div>
          <span class="absolute left-0 top-0 -z-10">
            <svg width="106" height="144" viewBox="0 0 106 144" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect opacity="0.1" x="-67" y="47.127" width="113.378" height="131.304" transform="rotate(-42.8643 -67 47.127)" fill="url(#paint0_linear_1416_214)"></rect>
              <defs>
                <linearGradient id="paint0_linear_1416_214" x1="-10.3111" y1="47.127" x2="-10.3111" y2="178.431" gradientUnits="userSpaceOnUse">
                  <stop stop-color="white"></stop>
                  <stop offset="1" stop-color="white" stop-opacity="0"></stop>
                </linearGradient>
              </defs>
            </svg>
          </span>
        </div>
      </div>
      <div class="w-20p relative z-10 items-center bg-primary bg-opacity-70 px-6 py-12 sm:p-5">
        <div>
          <div class="flex justify-between mb-6">
            <span class="text-5xl font-extrabold text-white">
              {{result.overall.breakdown.ta}}
            </span>
            <span class="text-right text-white max-width-120 ">Task Achievement</span>
          </div>
          <div class="text-sm font-semibold text-white text-opacity-70">
            {{result.overall.summary.ta}}
          </div>
        </div>
        <div>
          <span class="absolute left-0 top-0 -z-10">
            <svg width="106" height="144" viewBox="0 0 106 144" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect opacity="0.1" x="-67" y="47.127" width="113.378" height="131.304" transform="rotate(-42.8643 -67 47.127)" fill="url(#paint0_linear_1416_214)"></rect>
              <defs>
                <linearGradient id="paint0_linear_1416_214" x1="-10.3111" y1="47.127" x2="-10.3111" y2="178.431" gradientUnits="userSpaceOnUse">
                  <stop stop-color="white"></stop>
                  <stop offset="1" stop-color="white" stop-opacity="0"></stop>
                </linearGradient>
              </defs>
            </svg>
          </span>
        </div>
      </div>
      <div class="w-20p relative z-10 items-center bg-primary bg-opacity-70 px-6 py-12 sm:p-5">
        <div>
          <div class="flex justify-between mb-6">
            <span class="text-5xl font-extrabold text-white">
              {{result.overall.breakdown.cc}}
            </span>
            <span class="text-right text-white max-width-120 ">Coherence and Cohesion</span>
          </div>
          <div class="text-sm font-semibold text-white text-opacity-70">
            {{result.overall.summary.cc}}
          </div>
        </div>
        <div>
          <span class="absolute left-0 top-0 -z-10">
            <svg width="106" height="144" viewBox="0 0 106 144" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect opacity="0.1" x="-67" y="47.127" width="113.378" height="131.304" transform="rotate(-42.8643 -67 47.127)" fill="url(#paint0_linear_1416_214)"></rect>
              <defs>
                <linearGradient id="paint0_linear_1416_214" x1="-10.3111" y1="47.127" x2="-10.3111" y2="178.431" gradientUnits="userSpaceOnUse">
                  <stop stop-color="white"></stop>
                  <stop offset="1" stop-color="white" stop-opacity="0"></stop>
                </linearGradient>
              </defs>
            </svg>
          </span>
        </div>
      </div>
      <div class="w-20p relative z-10 items-center bg-primary bg-opacity-70 px-6 py-12 sm:p-5">
        <div>
          <div class="flex justify-between mb-6">
            <span class="text-5xl font-extrabold text-white">
              {{result.overall.breakdown.lr}}
            </span>
            <span class="text-right text-white max-width-120 ">Lexical Resource</span>
          </div>
          <div class="text-sm font-semibold text-white text-opacity-70">
            {{result.overall.summary.lr}}
          </div>
        </div>
        <div>
          <span class="absolute left-0 top-0 -z-10">
            <svg width="106" height="144" viewBox="0 0 106 144" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect opacity="0.1" x="-67" y="47.127" width="113.378" height="131.304" transform="rotate(-42.8643 -67 47.127)" fill="url(#paint0_linear_1416_214)"></rect>
              <defs>
                <linearGradient id="paint0_linear_1416_214" x1="-10.3111" y1="47.127" x2="-10.3111" y2="178.431" gradientUnits="userSpaceOnUse">
                  <stop stop-color="white"></stop>
                  <stop offset="1" stop-color="white" stop-opacity="0"></stop>
                </linearGradient>
              </defs>
            </svg>
          </span>
        </div>
      </div>
      <div class="w-20p relative z-10 items-center bg-primary bg-opacity-70 px-6 py-12 sm:p-5">
        <div>
          <div class="flex justify-between">
            <span class="text-5xl font-extrabold text-white">
              {{result.overall.breakdown.gra}}
            </span>
            <span class="text-right text-white max-width-120 ">Grammatical Range and Accuracy</span>
          </div>
          <div class="text-sm font-semibold text-white text-opacity-70">
            {{result.overall.summary.gra}}
          </div>
        </div>
        <div>
          <span class="absolute left-0 top-0 -z-10">
            <svg width="106" height="144" viewBox="0 0 106 144" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect opacity="0.1" x="-67" y="47.127" width="113.378" height="131.304" transform="rotate(-42.8643 -67 47.127)" fill="url(#paint0_linear_1416_214)"></rect>
              <defs>
                <linearGradient id="paint0_linear_1416_214" x1="-10.3111" y1="47.127" x2="-10.3111" y2="178.431" gradientUnits="userSpaceOnUse">
                  <stop stop-color="white"></stop>
                  <stop offset="1" stop-color="white" stop-opacity="0"></stop>
                </linearGradient>
              </defs>
            </svg>
          </span>
          <span class="absolute bottom-0 right-0 -z-10">
            <svg width="175" height="104" viewBox="0 0 175 104" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect opacity="0.1" x="175.011" y="108.611" width="101.246" height="148.179" transform="rotate(137.136 175.011 108.611)" fill="url(#paint0_linear_1416_216)"></rect>
              <defs>
                <linearGradient id="paint0_linear_1416_216" x1="225.634" y1="108.611" x2="225.634" y2="256.79" gradientUnits="userSpaceOnUse">
                  <stop stop-color="white"></stop>
                  <stop offset="1" stop-color="white" stop-opacity="0"></stop>
                </linearGradient>
              </defs>
            </svg>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-gray-1 dark:bg-dark-2 pt-2">
  <div class="container px-0">
    <div>
      <a href="{% url 'analyze' %}" class="mr-4 inline-flex items-center justify-center rounded-md bg-primary px-10 py-3 text-base font-medium text-white transition duration-300 ease-in-out hover:bg-blue-dark">
        Enter an Essay for Analysis
      </a>
    </div>
    <div class="flex mt-2">
      <div class="w-50p mr-4">
        <div>
          {% for split in result.splits %}
            {% if split.id == -1 %}
            <span>{{split.val}}</span>
            {% else %}
            <span class="bg-error">{{split.val}}</span>
            {% endif %}
          {% endfor %}
        </div>
        <div class="mt-2">
          <span class="text-dark-6 text-sm">(Word Count: 0)</span>
        </div>
      </div>
      <div class="w-50p">
        <div class="px-2">
          {% for ex in result.explanations %}
          <div class="group mb-2 p-3 rounded-xl bg-white shadow-testimonial dark:bg-dark dark:shadow-none text-sm text-body-color dark:text-dark-6">
            <b>{{ex.bad}}</b>
            <p>{{ex.hint}}</p>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
