{% extends "base.html" %}

{% block title %}Privacy Policy{% endblock %}
{% block content %}
<section class="pt-20">
    <div class="container">
        <h1><b>Privacy Policy</b></h1>
        <br>
        writeyay.com takes your privacy very seriously. We will take reasonable steps to protect user privacy consistent within the guidelines set forth in this policy and the law. By using this site, you consent to the following privacy policy.
        <br>
        <br>
        What Information Do We Collect?
        <br>
        <br>
        User information is collected when filling out a registration form, or signing in through a third party service (such as Google). Users may, however, visit our site without providing this information. We will collect personal information from users only if they voluntarily submit such information to us. Users can always refuse to supply personal information, except that it may prevent them from engaging in certain site-related activities, and they will be unable to enroll in the service that we provide.
        <br>

        Cookies are used to store information about your current session and other preferences. This information may be used to track user progress and to offer a more personalized experience. Cookies can be disabled or cleared in your web browser settings.
        <br>
        <br>
        How We Use Collected Information?
        <br>
        <br>
        Any of the information we collect from you may be used in one of the following ways:
        <br>

        - To personalize user experience
        <br>
        We may use information in the aggregate to understand how our users as a group use the services and resources provided on our site.
        <br>

        - To improve our Site
        <br>
        We continually strive to improve our website offerings based on the information and feedback we receive from you.
        <br>

        - To send periodic emails
        <br>
        The email address you provide for email subscription will only be used to send you information and updates pertaining to our site and the notification information you requested.
        <br>
        <br>
        How Do We Protect Your Information?
        <br>
        <br>
        We do not sell, trade, or otherwise transfer user information to outside parties. This does not include trusted third parties who assist us in operating our website, conducting our business, or servicing you, so long as those parties agree to keep this information confidential. We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect ours or others rights, property, or safety. However, non-identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.
        <br>
        <br>
        Third Party Websites
        <br>
        <br>
        Any linked, third party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites.
        <br>
        <br>
        Changes To This Privacy Policy
        <br>
        <br>
        writeyay.com has the discretion to update this privacy policy at any time. When we do, we will revise the updated date at the bottom of this page. We encourage users to frequently check this page for any changes to stay informed about how we are helping to protect the personal information we collect. You acknowledge and agree that it is your responsibility to review this privacy policy each time that you visit our website or use our service, and remain aware of any amendments.
        <br>
        <br>
        Your Acceptance Of These Terms
        <br>
        <br>
        By using our site, you consent to this privacy policy.
        <br>

        If you have any questions, please contact us, twitter: joosurrey or email: joo@writeyay.com.
        <br>
    </div>
</section>
{% endblock %}
